html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template: 100px 1fr 100px / 10vw 1fr 10vw;
}

header {
    grid-area: 1 / 1 / span 1 / span 3;
}

aside {
    grid-area: 2 / 1 / span 1 / span 1;
}

main {
    grid-area: 2 / 2 / span 1 / span 1;
}

footer {
    grid-area: 3 / 1 / span 1 / span 3;
}

.active {
    text-decoration: underline;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-top: 0px;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    /*Your code here - position relative to the parent */
    /*Your code here - place 500px left and 40px higher */
    position: absolute;
    left: -500px;
    top: -40px;
}

.skip a:focus {
    background: white;
    top: 0;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

figcaption {
    color: rgb(77, 77, 77)
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

nav {
    background-color: #fff;
    overflow: hidden;
}

nav a {
    float: left;
    text-align: center;

    text-decoration: none;
    font-size: 17px;
    color: #000;
}

.flex-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
}

nav a.active {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.gallery img {
    display: flex;
    width: 80vw;
}

.gallery img:hover {
    animation-name: gallery-animation;
    animation-duration: 600ms;
}

@keyframes gallery-animation {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

.flex-about {
    display: flex;
    flex-direction: column;
}

#me {
    width: 40%;
    height: 40%;
    padding: 40px;
    min-width: 400px;
}

#wrapper {
    padding: 40px;
}

#wrapper p {
    font-size: 22px;
    margin: 10px;
    line-height: 25px;
}

footer p {
    line-height: 23px;
    color: #4d4d4d;
    text-align: center;
}

#simply {
    width: 80vw;
    margin-bottom: 40px;
}

span {
    font-weight: 600;
}

.nav_links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media all and (min-width: 480px) {
    nav a {
        padding: 4px 16px;
    }

    body {
        display: grid;
        grid-template: 100px 10px 1fr 100px / 1fr;
    }

    #simply {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    header {
        grid-row: 1 / span 1;
    }

    main {
        grid-area: 3 / span 1;
    }

    aside {
        grid-area: 2 / span 1;
    }

    footer {
        grid-area: 4 / span 1;
    }

    .flex-about {
        flex-direction: row;
    }

    .gallery {
        margin-top: 20px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .gallery img {
        width: 40vw;
    }

    .flex-about {
        align-items: flex-start;
    }
}

@media all and (min-width: 1024px) {
    nav a {
        padding: 14px 16px;
    }

    .gallery img {
        width: 20vw;
    }

    .flex-about {
        align-items: flex-start;
    }

    .nav_links {
        display: block;
    }
}

@media (prefers-reduced-motion) {
    .gallery img:hover {
        animation: none;
    }
}